
*{
    font-family: arial;
}
.Tete{
    background-color:rgb(65, 65,65);
    text-align: left;
    color:darkgray;
    height: 40px;

  
    
    
}
.Tete li{
     list-style-type: none;
    padding: 0 15px;
    
    

}
.card{
    max-width: 350px;
    margin: 0 auto;
}

.Tete ul{
    flex-direction: row;
    padding-top: 12px; 
    padding-left: 10px;
}

.Tete li:hover {
    background-color: beige;
    color: black;
    padding: 5px 5px; 
}

#body{
    max-width: 100%;
}

.carousel-indicators { 
    color: white;

}

.d-block {
width: 100%;
max-height:200px ;

}

#message {
    padding-bottom: 90px;
}
.form-control{ 
    margin: 0 auto;

 }
.Image article{
    background-color: rgb(206, 206, 206);
    height: 200px;
    width: 200px; 
    

}
.reward2 { 
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 6px 6px;
    background-color: gray;
    border-radius: 7px;
    color: white;
    display: none;
}

.card-profile:hover .reward2 {
    display: block;
}
form h2{
    border-top: solid black 1px;
}
form input{
    padding: 0 80% 5px 0;
    margin: 10px 5%;

}
form textarea{
    padding-bottom: 30px;
    padding-right: 80%;
    margin: 20px 5% ;

}

footer {
    background-color: rgb(65, 65, 65);
    padding-top: 40px;
}
footer a{
    color: rgb(206, 206, 206);
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
}

.part1,.part2,.part3 {
    display: flex;
    flex-direction: column;
}
.foot{
    width: 100%;
}

.col-md-4 {
    padding: 0 0;
}